<% if(me && me.emailConfirmedAt === 0) { %>
  <div class="container-fluid">
    <div class="alert alert-secondary mt-2" role="alert">
      Your email address still needs verification. Your account access may be limited until you click the link sent to <strong><%= me.email %></strong>.
    </div>
  </div>
<% } %>
