<footer class="navbar navbar-light justify-content-between flex-row-reverse" purpose="page-footer">
  <div class="nav" purpose="footer-nav">
    <small class="nav-item d-inline-block"><a class="nav-link text-info px-1 px-sm-3" href="/contact">Contact<span class="d-none d-sm-inline"> us</span></a></small>
    <small class="nav-item d-inline-block"><a class="nav-link text-info px-1 px-sm-3" href="/legal/terms">Terms<span class="d-none d-sm-inline"> of use</span></a></small>
    <small class="nav-item d-inline-block"><a class="nav-link text-info px-1 px-sm-3" href="/legal/privacy">Privacy<span class="d-none d-sm-inline"> policy</span></a></small>
    <% if(me) { %>
    <small class="nav-item d-inline-block"><a class="nav-link text-info px-1 px-sm-3" href="/logout">Sign out</a></small>
    <% } %>
  </div>
  <small purpose="footer-copy">Copyright &copy; <%= sails.config.custom.platformCopyrightYear %> <a target="_blank" href="https://github.com/Loaderon">SkollARS Software Development</a>. <br class="d-block d-sm-none" />All rights reserved.</small>
</footer>
