<footer class="navbar navbar-light footer">
  <small>
    Copyright &copy; <%= new Date().getFullYear(); %> 
    <a href="https://github.com/Loaderon">SkollARS Software Development</a>. 
    All rights reserved.
  </small>
  <div>
    <small class="d-inline-block"><a class="nav-link text-info" href="/contact">Contact us</a></small>
    <small class="d-inline-block"><a class="nav-link text-info" href="/legal/terms">Terms of use</a></small>
    <small class="d-inline-block"><a class="nav-link text-info" href="/legal/privacy">Privacy policy</a></small>
    <% if(me) { %>
    <small class="d-inline-block"><a class="nav-link text-info" href="/logout">Sign out</a></small>
    <% } %>
  </div>
</footer>
