<header class="navbar navbar-fixed-top navbar-inverse bg-dark navbar-dark">
  <a style="cursor: pointer;" class="navbar-brand" href="/">
    <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Claims and Complaints logo" />
    Claims and Complaints
  </a>
  <div class="navbar-nav flex-row">
    <% if(me) { %>
      <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/contact">Help</a>
      <div class="nav-item dropdown d-none d-sm-block">
        <a class="nav-link dropdown-toggle" id="header-account-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
        <div style="left: auto; right: 0;" class="dropdown-menu" aria-labelledby="header-account-menu-link">
          <a class="dropdown-item" href="/account">Settings</a>
          <a class="dropdown-item" href="/logout">Sign out</a>
        </div>
      </div>
    <% } else { %>
      <a class="nav-link mr-2" href="/login">Log in</a>
      <a class="btn btn-outline-info" href="/signup">Sign up</a>
    <% } %>
  </div>
</header>
