{% load generic_helper %}
<header>
  <nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top py-0">
    <div class="container">
      <a class="logo" href="{% url 'home' %}">{% current_page_title %}</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasDarkNavbar"
              aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark"
           tabindex="-1"
           id="offcanvasDarkNavbar"
           aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title logo">{% current_page_title %}</h5>
          <button type="button"
                  class="btn-close btn-close-white"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            {% if request.user.is_authenticated %}
              <li class="navbar-text">
                <span class="text-white">Hello <strong>{{ request.user.username }}</strong>!</span>
              </li>
              {% if request.user.is_superuser %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle h-100"
                     href="#"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">Admin</a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li>
                      <a class="dropdown-item" href="#">Action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle h-100"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">Account</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li>
                    <a class="dropdown-item" href="{% url "users:profile" %}">Edit Profile</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url "users:logout" %}">Logout</a>
                  </li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link active h-100"
                   aria-current="page"
                   href="{% url "users:register" %}">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active h-100"
                   aria-current="page"
                   href="{% url "users:login" %}">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
