.company-table{
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    margin:25px 0;
    overflow: hidden;
    text-align: center;
}

.company-table .company-logo{
    max-width: 80px;
    max-height: 60px;
}

.table-description {
    text-align: justify;
}

thead tr{
    background-color:black;
    color:#ffffff;
}

tbody tr{
    border-bottom: 1px solid black;
}

tbody tr:last-of-type{
    border-bottom: 2px solid black;
}

th, td{
    padding:1rem;
}
