{% extends 'base_email.html' %}
{% block content %}
    <tr>
        <td style="padding-left:10px;padding-right:10px">
            <p>To verify your email address click the button below</p>
        </td>
    </tr>
    <tr>
        <td style="padding-top:15px;
                   padding-bottom:15px;
                   padding-left:10px;
                   padding-right:10px">
            <a href="{{ absolute_domain }}{{ url }}"
               style="text-decoration:none;
                      margin-top:20px">
                <button type="submit"
                        style="border-style: solid;
                               background-color: #ff4747;
                               border-color: transparent;
                               border-radius: 4px;
                               padding: 0 48px;
                               height: 44px;
                               line-height: 42px;
                               font-size: 16px;
                               border-width: 1px;
                               position: relative;
                               box-shadow: none;
                               text-decoration: none;
                               text-align: center;
                               text-transform: none;
                               white-space: nowrap;
                               color:white;
                               display:block;
                               cursor:pointer;
                               margin:0 auto">Confirm your email</button>
            </a>
        </td>
    </tr>
    <tr style="padding-top:15px;">
        <td style="padding-left:10px;padding-right:10px">
            <p>
                Do not share this email with anyone. {{ app_name }} takes your account security very seriously. {{ app_name }} Customer Service will never ask you to disclose or verify your {{ app_name }} password, credit card, or banking account number. If you receive a suspicious email with a link to update your account information, do not click on the link—instead, report the email to {{ app_name }} for investigation.
            </p>
            <p>Thank you for joining our community! We hope to see you again soon.</p>
        </td>
    </tr>
{% endblock %}
