<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    {%load static %}
    <link rel="stylesheet" href="{% static '../static/contacto.css' %}">

</head>
<body>

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="contain">
    <div class="contenido">
        <h1>Contacto</h1>
        <article>
            Nuestro sitio está en construcción y aún tiene mucho trabajo por delante. Toda sugerencia y colaboración es
            bienvenida.
            En caso de querer hacer una sugerencia o agregar alguna empresa que falta que manden un email
            <br>
            <br>
            <p>📧 Email: <a  href="mailto: quejassyreclamos@gmail.com" rel="noopener noreferrer" target="_blank">quejassyreclamos@gmail.com</a>
            </p>
        </article>
    </div>
  </div>
</div>

</body>
</html>
