@{
    ViewData["Title"] = @claims_and_complaints.i18n.i18n.Contact;
}
<h2>@ViewData["Title"]</h2>

<address>
    @claims_and_complaints.i18n.i18n.SuggestMe
    <br>
    <strong>@claims_and_complaints.i18n.i18n.Email: </strong><a href="mailto:alvaroscelza@gmail.com">alvaroscelza@gmail.com</a><br />
</address>
