@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    If you have any doubts or suggestions, feel free to contact me.
    <br>
    <strong>Email: </strong><a href="mailto:alvaroscelza@gmail.com">alvaroscelza@gmail.com</a><br />
</address>
