body, html {
    height: 100%;
    margin: 0;
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.contenido {

    width: 50%;
    text-align: center;
    border:solid 0.3px grey;
    border-radius: 3%;

}
