{% extends "layouts/main.html" %}

{% load custom_tags %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="card">
    <div class="card-body">
        <h1>Contacto</h1>
        <article>
            Nuestro sitio está en construcción y aún tiene mucho trabajo por delante. Toda sugerencia y colaboración es
            bienvenida.
            En caso de querer hacer una sugerencia o agregar alguna empresa faltante, envía un email a
            <br>
            <br>
            <p>📧 Email: <a href="mailto: contacto.escorts.uruguay@gmail.com" rel="noopener noreferrer" target="_blank">quejassyreclamos@gmail.com</a>
            </p>
        </article>
    </div>
  </div>
</div>
{% endblock %}
