{% extends "layouts/main.html" %}
{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static '/css/companies-table.css' %}">
    <table class="company-table">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Nombre</th>
                <th>Industria</th>
                <th>Descripción</th>
                <th>Puntuación</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr>
                    <td>
                        {% if company.logo %}
                            <div class="img-container">
                                <img src="{{ company.logo.url }}" alt="{{ company.name }} Logo" class="company-logo">
                            </div>
                        {% else %}
                            <p></p>
                        {% endif %}
                    </td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.industry }}</td>
                    <td class="table-description">{{ company.description }}</td>
                    <td>
                        <div class="score-elements-container">
                            <a><i class="fa fa-angle-double-up"></i></a>
                            <a><i class="fas fa-angle-up"></i></a>
                            {{ company.score }}
                            <a><i class="fas fa-angle-down"></i></a>
                            <a><i class="fa fa-angle-double-down"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
