<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Claims and Complaints", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%# if logged_in? %>
<!--          TODO: logged in-->
        <%# else %>
<!--          <li><%#= link_to "Iniciar sesión", login_path %></li>-->
        <%# end %>
      </ul>
    </nav>
  </div>
</header>